USE [DBEnvios]
GO
/****** Object:  Table [dbo].[DetalleEnvio]    Script Date: 27/9/2025 20:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleEnvio](
	[IdDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Comentario] [nvarchar](max) NOT NULL,
	[EnvioId] [int] NULL,
 CONSTRAINT [PK_DetalleEnvio] PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Envio]    Script Date: 27/9/2025 20:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Envio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[DniCliente] [int] NOT NULL,
	[Direccion] [nvarchar](max) NOT NULL,
	[PalabraSecreta] [nvarchar](max) NOT NULL,
	[Estado] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Envio] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 27/9/2025 20:26:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DetalleEnvio] ON 

INSERT [dbo].[DetalleEnvio] ([IdDetalle], [IdProducto], [Cantidad], [Comentario], [EnvioId]) VALUES (1, 1, 3, N'Falta de cintas', 2)
INSERT [dbo].[DetalleEnvio] ([IdDetalle], [IdProducto], [Cantidad], [Comentario], [EnvioId]) VALUES (2, 2, 1, N'Sin comentarios', 2)
INSERT [dbo].[DetalleEnvio] ([IdDetalle], [IdProducto], [Cantidad], [Comentario], [EnvioId]) VALUES (3, 4, 30, N'Material dañado', 4)
SET IDENTITY_INSERT [dbo].[DetalleEnvio] OFF
GO
SET IDENTITY_INSERT [dbo].[Envio] ON 

INSERT [dbo].[Envio] ([Id], [Fecha], [DniCliente], [Direccion], [PalabraSecreta], [Estado]) VALUES (2, CAST(N'2015-11-13T00:00:00.0000000' AS DateTime2), 41324, N'LA 3241', N'secreto', N'Cancelado')
INSERT [dbo].[Envio] ([Id], [Fecha], [DniCliente], [Direccion], [PalabraSecreta], [Estado]) VALUES (4, CAST(N'2024-07-11T00:00:00.0000000' AS DateTime2), 413254, N'LE312', N'lol', N'Enviado')
SET IDENTITY_INSERT [dbo].[Envio] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Precio]) VALUES (1, N'Smartphone', CAST(3000.00 AS Decimal(18, 2)))
INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Precio]) VALUES (2, N'Televisor', CAST(400000.00 AS Decimal(18, 2)))
INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Precio]) VALUES (3, N'Cuaderno', CAST(300.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
ALTER TABLE [dbo].[DetalleEnvio]  WITH CHECK ADD  CONSTRAINT [FK_DetalleEnvio_Envio_EnvioId] FOREIGN KEY([EnvioId])
REFERENCES [dbo].[Envio] ([Id])
GO
ALTER TABLE [dbo].[DetalleEnvio] CHECK CONSTRAINT [FK_DetalleEnvio_Envio_EnvioId]
GO
ALTER TABLE [dbo].[DetalleEnvio]  WITH CHECK ADD  CONSTRAINT [FK_DetalleEnvio_Producto_IdProducto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleEnvio] CHECK CONSTRAINT [FK_DetalleEnvio_Producto_IdProducto]
GO
